<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>우삼겹: 우리동네 맛집 삼겹줄</title>
    <!-- favicon -->
    <link rel="icon" href="../static/img/favicon-96x96.png" />
    <link rel="stylesheet" href="../static/css/common.css" />
    <link rel="stylesheet" href="../static/css/restaurant_detail.css" />
    <script defer src="../../static/js/restaurant_detail.js"></script>
  </head>
  <body>
    <header>
      <div class="brand-logo">
        <div class="brand-name">
          <a href="/">우삼겹</a>
        </div>
        <div class="brand-script">
          <a href="/"> <b>우</b>리동네 맛집 <b>삼겹</b>줄 </a>
        </div>
      </div>
      <div class="page-name"><a href="/yongsan">용산구</a></div>

      <nav>
        <ul>
          <li class="menu-item">
            <a href="/service_info">서비스 소개</a>
          </li>
          <li class="menu-item">
            <a href="/faq">FAQ</a>
          </li>
          <li class="menu-item">
            <a href="/customer_service">고객센터</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="inner">
        <div class="container container1">
          <div class="container-header">
            <div class="title">maggie</div>
            <div class="title-meta">
              <div class="score">평균 평점: <%= avgRating %></div>
              <div class="type">중식</div>
            </div>
          </div>

          <div class="recommend">추천메뉴</div>

          <div class="img-container">
            <div class="img-box img-box1">
              <img src="../../static/img/maggie.jpg" alt="완탕면" />
              <div class="description description1">
                <div class="food">완탕면</div>
                <div class="price">13000원</div>
              </div>
            </div>
            <div class="img-box img-box2">
              <img src="../../static/img/maggie1.jpg" alt="공심채볶음" />
              <div class="description description2">
                <div class="food">공심채볶음</div>
                <div class="price">15000원</div>
              </div>
            </div>
          </div>

          <div class="location-box">
            <div class="location">주소</div>
            <p>서울특별시 용산구 한남동 639-18</p>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3163.9415658902512!2d127.00048279208987!3d37.53287471541051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca3e221bc8c97%3A0x5da840fb2b52e915!2z66ek6riw!5e0!3m2!1sko!2skr!4v1679645021684!5m2!1sko!2skr"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>

        <div class="container container2">
          <p>리뷰 작성</p>
          <form name="myform" id="myform" method="POST" action="/chinese/1">
            <textarea
              class="form-control"
              placeholder="리뷰를 남겨주세요"
              name="opinion"
            ></textarea>
            <fieldset>
              <input type="radio" name="rating" value="5" id="rate1" /><label
                for="rate1"
                >⭐</label
              >
              <input type="radio" name="rating" value="4" id="rate2" /><label
                for="rate2"
                >⭐</label
              >
              <input type="radio" name="rating" value="3" id="rate3" /><label
                for="rate3"
                >⭐</label
              >
              <input type="radio" name="rating" value="2" id="rate4" /><label
                for="rate4"
                >⭐</label
              >
              <input type="radio" name="rating" value="1" id="rate5" /><label
                for="rate5"
                >⭐</label
              >
            </fieldset>
            <button type="submit" class="btn">제출</button>
          </form>
          <div class="reviews">
            <p>리뷰</p>
            <% for (let i = 0; i < reviews.length; i++) { %>
            <div class="review">
              <%= reviews[i].opinion %> / 평점: <%= reviews[i].rating %>
              <input type="radio" name="like<%= i %>" id="like<%= i %>" />
              <label for="like<%= i %>">👍</label>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
