<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>우삼겹: 우리동네 맛집 삼겹줄</title>
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/986f9d8077.js"
      crossorigin="anonymous"
    ></script>
    <!-- common.js -->
    <script src="../static/js/common.js" defer></script>
    <!-- favicon -->
    <link rel="icon" href="../static/img/favicon-96x96.png" />
    <link rel="stylesheet" href="../static/css/common.css" />
    <link rel="stylesheet" href="../static/css/restaurant_detail.css" />
    <script defer src="../../static/js/restaurant_detail.js"></script>
  </head>
  <body>
    <header id="first-head">
      <div class="brand-logo">
        <div class="brand-name">
          <a href="/">우삼겹</a>
        </div>
        <div class="brand-script">
          <a href="/"> <b>우</b>리동네 맛집 <b>삼겹</b>줄 </a>
        </div>
      </div>
      <div class="page-name"><a href="/yongsan">용산구</a></div>
      <nav>
        <ul class="navbar__menu">
          <li class="menu-item">
            <a href="/service_info">서비스 소개</a>
          </li>
          <li class="menu-item">
            <a href="/faq">FAQ</a>
          </li>
          <li class="menu-item">
            <a href="/customer_service">고객센터</a>
          </li>
        </ul>
      </nav>
      <a href="#" class="navbar__toggleBtn"><i class="fa-solid fa-bars"></i></a>
    </header>

    <aside class="aside_sidebar">
      <nav>
        <ul class="sidebar__menu">
          <li class="menu-item">
            <a href="/service_info">서비스 소개</a>
          </li>
          <li class="menu-item">
            <a href="/faq">FAQ</a>
          </li>
          <li class="menu-item">
            <a href="/customer_service">고객센터</a>
          </li>
        </ul>
      </nav>
    </aside>

    <main>
      <div class="inner">
        <div class="container container1">
          <div class="container-header">
            <div class="title">pimfy</div>
            <div class="title-meta">
              <div class="score">평균 평점: <%= avgRating %></div>
              <div class="type">양식</div>
            </div>
          </div>

          <div class="recommend">추천메뉴</div>

          <div class="img-container">
            <div class="img-box img-box1">
              <img src="../../static/img/pimfy.jpg" alt="양갈비프랜치책" />
              <div class="description description1">
                <div class="food">양갈비프랜치랙</div>
                <div class="price">35000원</div>
              </div>
            </div>
            <div class="img-box img-box2">
              <img
                src="../../static/img/pimfypapper.jpg"
                alt="페퍼로니 토마토 파스타"
              />
              <div class="description description2">
                <div class="food">페퍼로니 토마토 파스타</div>
                <div class="price">16000원</div>
              </div>
            </div>
          </div>

          <div class="location-box">
            <div class="location">주소</div>
            <p>서울특별시 용산구 녹사평대로40길 46 1층</p>

            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3163.878305040592!2d126.98599235081001!3d37.53436587970487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca3e0af8b1b9d%3A0xec521ca41f88b09c!2sPimfy!5e0!3m2!1sko!2skr!4v1679646969222!5m2!1sko!2skr"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>

        <div class="container container2">
          <p>리뷰 작성</p>
          <form name="myform" id="myform" method="POST" action="/western/2">
            <textarea
              class="form-control"
              placeholder="리뷰를 남겨주세요"
              name="opinion"
            ></textarea>
            <fieldset>
              <input type="radio" name="rating" value="5" id="rate1" /><label
                for="rate1"
                >⭐</label
              >
              <input type="radio" name="rating" value="4" id="rate2" /><label
                for="rate2"
                >⭐</label
              >
              <input type="radio" name="rating" value="3" id="rate3" /><label
                for="rate3"
                >⭐</label
              >
              <input type="radio" name="rating" value="2" id="rate4" /><label
                for="rate4"
                >⭐</label
              >
              <input type="radio" name="rating" value="1" id="rate5" /><label
                for="rate5"
                >⭐</label
              >
            </fieldset>
            <button type="submit" class="btn">제출</button>
          </form>
          <div class="reviews">
            <p>리뷰</p>
            <% for (let i = 0; i < reviews.length; i++) { %>
            <div class="review">
              <%= reviews[i].opinion %> / 평점: <%= reviews[i].rating %>
              <input type="radio" name="like<%= i %>" id="like<%= i %>" />
              <label for="like<%= i %>">👍</label>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
